@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

<!-- article & news section -->
<div class="article">
    <div class="container">
        <div class="header">
            <div class="item">
                <div class="text">Aricle & News</div>
                <div class="title">Get Every Single Aticle & News</div>
            </div>
            <div class="btn">
                <button>Browse Article<i class="fa-solid fa-arrow-up"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="items">
                <div class="item">
                    <div class="image">
                        <img src="~/images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                        <div class="date">
                            <span class="number">25</span>
                            <span class="month">Mar</span>
                        </div>
                    </div>
                    <div class="content">
                        <span>Business</span>
                        <div class="title">How To Use Digitalization In The Classroom</div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque tempora nemo!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="~/images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                        <div class="date">
                            <span class="number">17</span>
                            <span class="month">Mar</span>
                        </div>
                    </div>
                    <div class="content">
                        <span>Business</span>
                        <div class="title">How To Implement Chat GPT In Your Projects</div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque tempora nemo!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="~/images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                        <div class="date">
                            <span class="number">13</span>
                            <span class="month">Mar</span>
                        </div>
                    </div>
                    <div class="content">
                        <span>Business</span>
                        <div class="title">The Guide To Support Modern CSS Design</div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque tempora nemo!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
    </div>
</div>
