@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{
    <!-- breadcrumb -->
    <div class="breadcrumb">
        <div class="container">
            <div class="titles">
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                <a style="text-decoration: none; color: black;" class="title" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
            }

                <div style="font-weight: bold;">@Model.Name</div>
            </div>
            <div class="breadcrumb-title">
                <div class="title">@Model.Value("pageTitle")</div>
            </div>

        </div>
        <div class="icon">
            <img src="~/images/logos/background-lines.svg" alt="">
        </div>

    </div>
}
