@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- footer -->
<footer>
    <div class="container">
        <div class="footer-accordion">
            <div class="item">
                <h2 class="accordion-header"><img src="~/images/logos/logotype-white.svg" alt="Logo"><i class="fa-solid fa-chevron-down"></i></h2>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eos accusantium magnam eveniet voluptatibus expedita rem, magni impedit animi aut!</p>
                </div>
            </div>
            <div class="item">
                <h2 class="accordion-header">Company<i class="fa-solid fa-chevron-down"></i></h2>
                <div class="content">
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Works</a>
                    <a href="#">Career</a>
                </div>
            </div>
            <div class="item">
                <h2 class="accordion-header">Help<i class="fa-solid fa-chevron-down"></i></h2>
                <div class="content">
                    <a href="#">Customer Support</a>
                    <a href="#">Delivery Details</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="item">
                <h2 class="accordion-header">Resources<i class="fa-solid fa-chevron-down"></i></h2>
                <div class="content">
                    <a href="#">Free eBooks</a>
                    <a href="#">Development Tutorial</a>
                    <a href="#">How to - Blog</a>
                    <a href="#">Youtube Playlist</a>
                </div>
            </div>
            <div class="item">
                <h2 class="accordion-header">Links<i class="fa-solid fa-chevron-down"></i></h2>
                <div class="content">
                    <a href="#">Free eBooks</a>
                    <a href="#">Development Tutorial</a>
                    <a href="#">How to - Blog</a>
                    <a href="#">Youtube Playlist</a>
                </div>
            </div>

        </div>
        <div class="footer-line">
            <img src="~/images/logos/background-lines-white-right.svg" alt="">
        </div>
        <div class="bottom">
            <div class="copyright">
                
                &copy; 2023 Crito - Consulting Company Inc. All Rights Reserved.
            </div>
            <div class="social-media">
                <div class="social-media-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        </div>
</footer>