@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

<!-- member section -->
<div class="member-section">
    <div class="container">
        <div class="member">
            <div class="header">
                <div class="team-title">
                    <span>Meet Our Team</span>
                    <div class="title">Experience Team Members</div>
                </div>
                <div class="btn">
                    <button>Browse Team<i class="fa-solid fa-arrow-up"></i></button>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="image">
                        <img src="~/images/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Kristine Palmer</div>
                        <p class="text">Chef Operation Officer</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="~/images/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Mark Aubri</div>
                        <p class="text">Senior Consultant</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="~/images/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Kimberly Hansen</div>
                        <p class="text">Senior Consultant</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="~/images/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Justin Willioman</div>
                        <p class="text">Senior Tech Consultant</p>
                    </div>
                </div>
            </div>
            <div class="slider">
                <div>
                    <div class="light"></div>
                    <div class="dark"></div>
                    <div class="light"></div>
                    <div class="light"></div>
                    <div class="light"></div>
                </div>
            </div>
        </div>
        <div class="clients">
            <div class="header">
                <div class="item">
                    <div>Testimonial</div>
                    <div class="title">What Our Client Says</div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="rank">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur fugit placeat nesciunt veniam, fugiat repellat amet perspiciatis, dolorum dignissimos, quia obcaecati eligendi?</p>
                    <div class="client">
                        <div class="image"><img src="~/images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt=""></div>
                        <div class="client-info">
                            <div class="name">Cassandra Warren</div>
                            <div class="profession">Business Manager, Dorfus</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="rank">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur fugit placeat nesciunt veniam, fugiat repellat amet perspiciatis, dolorum dignissimos, quia obcaecati eligendi?</p>
                    <div class="client">
                        <div class="image"><img src="~/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""></div>
                        <div class="client-info">
                            <div class="name">Amanda Tulling</div>
                            <div class="profession">Senior Developer, Square</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="rank">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur fugit placeat nesciunt veniam, fugiat repellat amet perspiciatis, dolorum dignissimos, quia obcaecati eligendi?</p>
                    <div class="client">
                        <div class="image"><img src="~/images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt=""></div>
                        <div class="client-info">
                            <div class="name">Jack McDogglas</div>
                            <div class="profession">Key Account Manager, Gobona</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn">
                <button>All Reviews<i class="fa-solid fa-arrow-up"></i></button>
            </div>
        </div>
    </div>
    </div>
~/