@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- subscribe section -->
<div class="subsicribe">
    <div class="container">
        <div>
            <div class="text">
                <div class="title">Get News Updates By Signup</div>
            </div>
            <div class="form">
                <input type="text" placeholder="username@domain.com">
                <button>Subscribe<i class="fa-solid fa-arrow-up"></i></button>
            </div>
            <div class="icon">
                <img src="~/images/logos/background-wavy-lines.svg" alt="">
            </div>
        </div>
    </div>
</div>
