
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    var content = (ContentModels.OurProject)Model.Content;
}


<div class="item">

    <img src="" style="width:200px" alt="" />
    <div class="title">@content.Value("ourProjectTitle")</div>
    <div class="btn">
        <button>Read More<i class="fa-solid fa-arrow-up"></i></button>
    </div>
</div>



