@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
}


<div class="item">
    <div class="icon"><i class="@content.Value("serviceFeaturesIcon")"></i></div>
    <h4>@content.Value("serviceFeaturesTitle")</h4>
    <p class="text">@content.Value("serviceFeaturesDescription")</p>
</div>
